.pokemon_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 60px;
  margin-top: 10px;
}

.pokemon_card {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #a1d5ff;
  border-radius: 15px;
  padding: 10px;
}

.pokemon_card img {
  width: 100px;
  height: 100px;
}
